<ion-view view-title="Events">
  <ion-content>
  <button class="button button-icon ion-plus" ng-click="addSamajEvent()"></button>
    <ion-list>
            <ion-item ng-repeat="samajevent in samajevents">
              {{samajevent.name}}
              </ion-item>
          </ion-list>
  </ion-content>
</ion-view>
